/* Секция Клиенты */
.client {
    width: 480px;
     @media screen and (min-width: 768px) {
 width: 768px;
    }
@media screen and (min-width: 1600px) {
 width: 1600px;
}
}
.client-item {
    &:not(:last-child) {
       margin-right: 30px;
    }

@media screen and (max-width: 767px) {
&:nth-child(2n) {
    margin-right: 0;
}
}
@media screen and (min-width: 768px) and (max-width: 1599px) {
  &:nth-child(3n) {
    margin-right: 0;
}
}
}

.client-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.client-link {
@extend %flex-center;
   @extend %transforms;
   width: 210px;
  
    height: 90px;
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;

    &:hover, &:focus {
        border-color: $akcent-color;
        cursor: pointer;
    } 
    @media screen and (min-width: 768px) {
        width: 226px; 
    }
      @media screen and (min-width: 1600px) {
width: 170px;
      }

}
.client-icon{
    fill: #AFB1B8 ;
    @extend %transforms;

.client-link:hover &,
.client-link:focus & {
    fill: $akcent-color;
    cursor: pointer;
}
}

