/* Секция Клиенты */
.client {
    width: 480px;
}
.client-item:nth-child(2n+1) {
    margin-right: 30px;  
}
.client-item:nth-child(-n+4) {
    margin-bottom: 10px;
}
//  .client-item:not(:last-child) {
//   margin-right: 30px;
//  }

.client-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.client-link {

@extend %flex-center;
   @extend %transforms;
   width: 210px;
    // width: 170px;
    height: 90px;
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;

    &:hover, &:focus {
        border-color: $akcent-color;
        cursor: pointer;
    } 
}
.client-icon{
    fill: #AFB1B8 ;
    @extend %transforms;

.client-link:hover &,
.client-link:focus & {
    fill: $akcent-color;
    cursor: pointer;
}
}

