/* Навигация */
 .header {
      width: 100%;
     position: relative;

& .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid #ECECEC;
    @media screen and (min-width: 768px) {
      border-bottom: none;
 }
}
 }
 .header-menu {
 display: none;
 &.is-open {
     display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
       
         padding-top: 60px;
         padding-bottom: 60px;
         
         scroll-padding-right: auto;
         position: absolute;
         top: 100%;
         left: 0;
         width: 100%;
                  background-color: #ffffff;
    }              
    @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    flex-direction: row;
}
}
.nav {
     padding-bottom: 60px;
      @media screen and (min-width: 768px) {
     padding-bottom: 0px;
 }
}
.nav-item {
    position: relative;
    display: block;
    &:not(:last-child) {
        margin-bottom: 40px;
    }
    @media screen and (min-width: 768px) {
     display: inline-flex;
         &:not(:last-child) {
        margin-right: 50px;
        margin-bottom: 0;
        padding-left: 0;
    }
 }   
}
.nav-link {
     @include font (500, 18px, 1.16);
   
    letter-spacing: 0.02em;
    color: $main-titel-color; 
    @extend %transforms;

    &:hover, &:focus {
        color: $akcent-color;
        cursor: pointer;
    }
    @media screen and (min-width: 768px) {
      @include font (500, 14px, 1.14);
 }
}
.studio::after,
.portfolio::after {
    content: "";
       position: absolute;
    left: 0;
    bottom: -12px;
    
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $akcent-color;
     @media screen and (min-width: 768px) {
    bottom: -32px;
 }
}
.contacts {
     @media screen and (min-width: 768px) {
        margin-left: 84px;
    }
    @media screen and (min-width: 1200px) {
        margin-left: 305px;
    }
 }
.contacts-link {
     display: block;
    color: $main-text-color;
      @include font (500, 18px, 1.16);
    
    &:not(:last-child) {
        margin-bottom: 10px;
    }
    @media screen and (min-width: 768px) {
     @include font (500, 12px, 1.16);
}
     @media screen and (min-width: 1200px) {
         display: inline;
          @include font (500, 14px, 1.14);
         &:not(:last-child) {
      margin-right: 30px;
     }
}
}  
.contacts-icon {
    width: 16px;
    height: 11.2px;
    margin-right: 10px;
   @extend %transforms;
    .contacts-link:hover &,
    .contacts-link:focus & {
         fill: $akcent-color;
    }
}
.contacts-text {
    @extend %transforms;
    .contacts-link:hover &,
    .contacts-link:focus & {
         color: $akcent-color;
    }
}
.menu-button {
    display: inline-flex;
    
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
  
    &:hover, &:focus {
    border: none;
    fill: $akcent-color;
}    
    & .icon-cross {
        display: none;
    }
    @media screen and (min-width: 768px) {
      display: none;
 }
}
.menu-button.is-open {
    & .icon-cross {
        display: block;
    }
    & .icon-menu {
        display: none;
    }
}
.portfolio-header {
    border-bottom: 1px solid #ECECEC;
}



