/* Секция Преимущества */
// .superiority-list {
//     display: flex;
//     flex-direction: column;
//        @media screen and (min-width: 768px) {
//         flex-direction: row;
//         flex-wrap: wrap; 
//     }
//      @media screen and (min-width: 1200px) {
//          flex-wrap: nowrap;
//      }
// }
.superiority-item {
    max-width: 100%;
    margin-right: 0px;
}
//  @media screen and (min-width: 767px) and (max-width: 1199px) {
//         max-width: 354px;  
//         &:nth-child(2n+1) {
//             margin-right: 30px;
//         &:nth-child(-n+2) {
//             margin-bottom: 30px;
//         }    
// } 
//  }
//  @media screen and (min-width: 1200px) {
//     max-width: 270px;
//    &:not(:last-child) {
//         margin-right: 30px;
//    }
//   }  
// }
.superiority-ikons {
    max-width: 100%;
    height: 120px;
    background: $background-team-color;
    border-radius: 4px;
    margin-bottom: 30px;
 @extend %flex-center;
//   @media screen and (min-width: 768px) {
//       max-width: 354px;
//   }
//        @media screen and (min-width: 1200px) {
//            max-width: 270px;
//        }
 }
.superiority-img {
    width: 70px;
    height: 70px;
}
.superiority-titel {
    @extend %flex-center;
    margin-top: 0;
    margin-bottom: 10px;
    @include font (bold, 14px, 1.14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $main-titel-color;
     @media screen and (min-width: 768px) {
         justify-content: flex-start;
     }
}
.superiority-text {
    margin: 0;
    @include font (normal, 14px, 1.71);
    letter-spacing: 0.03em;
    color: $main-text-color;
}