/* Секция Преимущества */
.superiority-list {
       @media screen and (min-width: 768px) {
           display: flex;
             flex-wrap: wrap; 
    }
}
.superiority-item {
    max-width: 100%;
    margin-right: 0px;
    &:not(:last-child) {
        margin-bottom: 30px;
    }
     @media screen and (min-width: 768px) {
    width: calc((100% - 30px)/2); 
        &:nth-child(2n+1) {
            margin-right: 30px;
        }
        &:nth-child(-n+2) {
            margin-bottom: 30px;
        }  
    }
    @media screen and (min-width: 1200px) {
    //   width:calc((100%-4*30px)/4);
    width: 270px;
       &:not(:last-child) {
        margin-right: 30px;
   }
 }
}

.superiority-ikons {
    max-width: 100%;
    height: 120px;
    background: $background-team-color;
    border-radius: 4px;
    margin-bottom: 30px;
 @extend %flex-center;

 }
.superiority-img {
    width: 70px;
    height: 70px;
}
.superiority-titel {
    @extend %flex-center;
    margin-top: 0;
    margin-bottom: 10px;
    @include font (bold, 14px, 1.14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $main-titel-color;
     @media screen and (min-width: 768px) {
         justify-content: flex-start;
     }
}
.superiority-text {
    margin: 0;
    @include font (normal, 14px, 1.71);
    letter-spacing: 0.03em;
    color: $main-text-color;
}