/* Секция Команда */
.team {
    // max-width: 100%;
    background-color: $background-team-color; 
}
.team-list {
     @media screen and (min-width: 768px) {
         display: flex;
         flex-direction: row;
        flex-wrap: wrap; 
     }
}
.team-item {
    width: 100%;
    background-color: $secondary-titel-color;
    border-radius: 0px 0px 4px 4px;
    padding-bottom: 24px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px
     rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);

         &:not(:last-child) {
     margin-bottom: 30px;
     }
     @media screen and (min-width: 768px) {
         width: calc((100% - 30px)/2); 
       
         &:nth-child(2n+1) {
              margin-right: 30px;
         }
         &:not(:last-child) {
             margin-bottom: 0px;
         }
         &:nth-child(-n+2) {
              margin-bottom: 30px;
         }
     }
     @media screen and (min-width: 1200px) {
width: calc((100% - 90px)/4); 
        
         &:not(:last-child) {
         margin-right: 30px;
         }
        &:nth-child(-n+2) {
              margin-bottom: 0px;
         } 
     }
    }

.team-img {
    width: 100%;
    margin-bottom: 30px;

    @media screen and (min-width: 480px) {
    max-height: 320px;
    }
    @media screen and (min-width: 768px) {
    max-height: 260px;
    }
@media screen and (min-width: 1200px) {
max-height: 260px;
}  
}
.team-name {
    margin-top: 0;
    margin-bottom: 10px;
    @extend %team-text-style;
}
.team-text {
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 400;
    color: $main-text-color;
    @extend %team-text-style;
}