 @mixin font ($fw, $fs, $lh) {
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh;
 }
@mixin transitions ($tp, $td: 250ms, $ttf: cubic-bezier(0.4, 0, 0.2, 1)) {
    transition-property: $tp;
    transition-duration: $td;
    transition-timing-function: $ttf;
}