/* Галерея портфолио */
.project-link {
    // display: block;
    text-decoration: none;
}
.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media screen and (min-width: 768px) {
        justify-content: flex-start;
    }  
}
.project-item {
    width: 450px;
    height: 402px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    margin-right: 30px;

    @media screen and (max-width: 768px) {
       max-width: 450px;
       margin-right: 0;
    }
   
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 352px;
        &:nth-child(2n) {
            margin-right: 0px;
        }
    }
     @media screen and (min-width: 1200px) {
         width: 368px;
&:nth-child(3n) {
    margin-right: 0px;
}
}

&:not(:last-child) {
        margin-bottom: 30px;
    }

&:hover {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 
    0px 1px 1px  rgba(0, 0, 0, 0.12);
    cursor: pointer;
}
}
.project-img {
    width: 450px;
    height: 294px;
     @media screen and (min-width: 768px) {
        width: 352px;
     }
     @media screen and (min-width: 1200px) {
         width: 368px;
 }
}
.project-titel {
    margin-top: 0;
    margin-bottom: 0;
    @include font (700, 18px, 2);
    letter-spacing: 0.06em;
    color: $main-titel-color;
}
.project-name {
    margin-top: 0;
    margin-bottom: 0;
      @include font (normal, 16px, 1.87);
    letter-spacing: 0.03em;
    color: $main-text-color;
}
.project-padding {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.wrapper {
    position: relative;
    overflow: hidden;
}
.project-text {
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(100%);
    height: 100%;
    padding-top: 63px;
    padding-bottom: 63px;
    padding-left: 24px;
    padding-right: 24px;
    margin: 0;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: $secondary-titel-color;
    background-color: $akcent-color;
    @include transitions (transform);
   
.project-item:hover & {
    transform: translateY(0);  
}
&:hover {
    background: $akcent-color;
    cursor: pointer;
}
}
